/*The CSS file for Game_v0.6.html*/
div.game {
	width:50%;
	border:20px solid red;
	text-align:center;
	background-color:silver;
	}
div.background{
	background-color:black;
}
img.picture{
	float:right;
}